
body{
    background-color: lightcyan;
    margin: 0;
}

.container{
   background-image: url("bg.jpg");
   position: relative;
   height:400px;
   background-size: 100%;
   background-repeat: no-repeat;
}

#content {
    width: 80%;
    height: 140%;
    top: 10%;
    margin: 0 auto;
    position: relative;
    background : lightpink;
  }

  .image{
    height: 30px;
    width: 20px;
    padding: 10px;
  }
  


 #usertable{
    float: right;
    margin-right: 220px;
    width: 400px;
    font-size: 20px;
    color: blueviolet;
    font-style: oblique;
 }